De: {{name}}
Asunto: {{subject}}

Email: {{email}}

Telefono: {{phone}}

Cuerpo del mensaje:
{{message}}

Información de geolocalización:
IP of the user: {{ip}}
Country: {{country}}
State or region: {{region}}
City: {{city}}

Data from: GeoLite2 City database (updated weekly)
-- 
Este mensaje se ha enviado desde un formulario de contacto en {{origin}}
